@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container label {
    font-size: 2rem;
}

.container #text {
    border: none;
    border-bottom: 1px solid black;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container #text:focus {
    border: none;
}

.container #submit {
    border: none;
    border-radius: 15px;
    color: #fff;
    background-color: #111;
    padding: 2rem;
    width: 10rem;
    height: auto;
    font-size: 2rem;
    transition: all .2s;
}

.container #submit:hover {
    background-color: #222;
}

.container p {
    font-size: 1.2rem;
}